image: java:latest

stages:
  - build
  - deploy-snoopy-dev1
  - deploy-snoopy-dev2
  - deploy-snoopy-test
  - deploy-snoopy-preparation
  - deploy-wwwdev-staging
  - deploy-ves-pg-7e-prod
  - deploy-ves-pg-7f-prod
  - deploy-ves-oy-7e-fallback
  - deploy-ves-oy-7f-fallback

maven-build:
  image: maven:3-jdk-8
  stage: build
  script:
    - echo "Building Jar File"
    - mvn clean package -Dmaven.test.error.ignore=true -Dmaven.test.failure.ignore=true
  artifacts:
    paths:
      - gwas-zuul.jar
    expire_in: 1 day

deploy-dev1:
  stage: deploy-snoopy-dev1
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas-zuul.jar $SERVER_SNOOPY:$APP_DIR_DEV1
    - ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
      "kill -9 \$(ps aux | grep 'gwas-zuul.jar' | grep 'dev1' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
      "cd $APP_DIR_DEV1; nohup java -jar gwas-zuul.jar --spring.profiles.active=dev1 > /dev/null 2>&1 &"
  only:
    - GOCI-371-UI-Refactoring-Zuul


deploy-dev2:
  stage: deploy-snoopy-dev2
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas-zuul.jar $SERVER_SNOOPY:$APP_DIR_DEV2
    #- ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
     # "kill -9 \$(ps aux | grep 'gwas-zuul.jar' | grep 'dev2' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
      "cd $APP_DIR_DEV2; nohup java -jar gwas-zuul.jar --spring.profiles.active=dev2 > /dev/null 2>&1 &"
  only:
    - GOCI-371-UI-Refactoring-Zuul


deploy-snoopy-test:
  stage: deploy-snoopy-test
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas-zuul.jar $SERVER_SNOOPY:$APP_DIRECTORY_TEST
    #- ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
     # "kill -9 \$(ps aux | grep 'gwas-zuul.jar' | grep 'test' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
      "cd $APP_DIRECTORY_TEST; nohup java -jar gwas-zuul.jar  --spring.profiles.active=test > /dev/null 2>&1 &"
  only:
    - GOCI-371-UI-Refactoring-Zuul



deploy-snoopy-preparation:
  stage: deploy-snoopy-preparation
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas-zuul.jar $SERVER_SNOOPY:$APP_DIRECTORY_PREPARATION
    #- ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
     # "kill -9 \$(ps aux | grep 'gwas-zuul.jar' | grep 'preparation' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_SNOOPY
      "cd $APP_DIRECTORY_PREPARATION; nohup java -jar gwas-zuul.jar  --spring.profiles.active=preparation > /dev/null 2>&1 &"
  only:
    - GOCI-371-UI-Refactoring-Zuul


deploy-wwwdev-staging:
  stage: deploy-wwwdev-staging
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas-zuul.jar $SERVER_EBI_CLI:$APP_DIR_PROD
    - ssh -o StrictHostKeyChecking=no $SERVER_EBI_CLI
      "sudo -u spo_adm cp $APP_DIR_PROD/gwas-zuul.jar $APP_DIR_NOAH/gwas-zuul.jar"
    #- ssh -o StrictHostKeyChecking=no $WWWDEV_STAGING_SERVER
    #  "kill -9 \$(ps aux | grep 'gwas-zuul.jar' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $WWWDEV_STAGING_SERVER
      "cd $EXEC_DIR_STAGING; nohup java -jar $APP_DIR_NOAH/gwas-zuul.jar --server.hostname=${SERVER_VES_HX_7F} --spring.profiles.active=staging > /dev/null 2>&1 &"
  #when: manual
  only:
    - GOCI-371-UI-Refactoring-Zuul

deploy-ves-pg-7e-prod:
  stage: deploy-ves-pg-7e-prod
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas_zuul.jar $SERVER_EBI_CLI:$APP_DIR_PROD
    - ssh -o StrictHostKeyChecking=no $SERVER_EBI_CLI
      "sudo -u spo_adm cp $APP_DIR_PROD/gwas_zuul.jar $APP_DIR_NOAH/gwas_zuul.jar;
      sudo -u spo_adm sync-project -w gwas;
      sudo -u spo_adm ssh ves-pg-7e /nfs/public/ro/gwas/sw/update_data_link.sh"
      #- ssh -o StrictHostKeyChecking=no $SERVER_VESPG7E_PROD
    # "kill -9 \$(ps aux | grep 'gwas_zuul.jar' | grep 'prod' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_VESPG7E_PROD
      "cd $EXEC_DIR_VESPG7E; nohup java -jar $APP_DIR_NOAH/gwas_zuul.jar --server.hostname=${SERVER_VES_PG_7E} --spring.profiles.active=prod > /dev/null 2>&1 &"
  when: manual
  only:
    - GOCI-371-UI-Refactoring-Zuul


deploy-ves-pg-7f-prod:
  stage: deploy-ves-pg-7f-prod
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas_zuul.jar $SERVER_EBI_CLI:$APP_DIR_PROD
    - ssh -o StrictHostKeyChecking=no $SERVER_EBI_CLI
      "sudo -u spo_adm cp $APP_DIR_PROD/gwas_zuul.jar $APP_DIR_NOAH/gwas_zuul.jar"
    #- ssh -o StrictHostKeyChecking=no $SERVER_VESPG7F_PROD
    # "kill -9 \$(ps aux | grep 'gwas_zuul.jar' | grep 'prod' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_VESPG7F_PROD
      "cd $EXEC_DIR_VESPG7F; nohup java -jar $APP_DIR_NOAH/gwas_zuul.jar --server.hostname=${SERVER_VES_PG_7F}  --spring.profiles.active=prod > /dev/null 2>&1 &"
  when: manual
  only:
    - GOCI-371-UI-Refactoring-Zuul

deploy-ves-oy-7e-fallback:
  stage: deploy-ves-oy-7e-fallback
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas_zuul.jar $SERVER_EBI_CLI:$APP_DIR_PROD
    - ssh -o StrictHostKeyChecking=no $SERVER_EBI_CLI
      "sudo -u spo_adm cp $APP_DIR_PROD/gwas_zuul.jar $APP_DIR_NOAH/gwas_zuul.jar"
    #- ssh -o StrictHostKeyChecking=no $SERVER_VESOY7E_FALLBACK
    # "kill -9 \$(ps aux | grep 'gwas_zuul.jar' | grep 'prod' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_VESOY7E_FALLBACK
      "cd $EXEC_DIR_VESOY7E; nohup java -jar $APP_DIR_NOAH/gwas_zuul.jar --server.hostname=${SERVER_VES_OY_7E}  --spring.profiles.active=fallback > /dev/null 2>&1 &"
  when: manual
  only:
    - GOCI-371-UI-Refactoring-Zuul

deploy-ves-oy-7f-fallback:
  stage: deploy-ves-oy-7f-fallback
  image: alpine
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - scp -o StrictHostKeyChecking=no gwas_zuul.jar $SERVER_EBI_CLI:$APP_DIR_PROD
    - ssh -o StrictHostKeyChecking=no $SERVER_EBI_CLI
      "sudo -u spo_adm cp $APP_DIR_PROD/gwas_zuul.jar $APP_DIR_NOAH/gwas_zuul.jar"
    #- ssh -o StrictHostKeyChecking=no $SERVER_VESOY7F_FALLBACK
    # "kill -9 \$(ps aux | grep 'gwas_zuul.jar' | grep 'prod' | grep -v 'grep' | awk '{print \$2}');"
    - ssh -o StrictHostKeyChecking=no $SERVER_VESOY7F_FALLBACK
      "cd $EXEC_DIR_VESOY7F; nohup java -jar $APP_DIR_NOAH/gwas_zuul.jar  --server.hostname=${SERVER_VES_OY_7F}  --spring.profiles.active=fallback > /dev/null 2>&1 &"
  when: manual
  only:
    - GOCI-371-UI-Refactoring-Zuul